@import "@oruga-ui/oruga-next/dist/oruga-full.css";

*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
}

.top-0{
  top: 0px;
}

.z-10{
  z-index: 10;
}

.m-2{
  margin: 0.5rem;
}

.m-0{
  margin: 0px;
}

.m-auto{
  margin: auto;
}

.m-1{
  margin: 0.25rem;
}

.m-3{
  margin: 0.75rem;
}

.mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mb-\[0\.75em\]{
  margin-bottom: 0.75em;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.flex{
  display: flex;
}

.h-6{
  height: 1.5rem;
}

.h-8{
  height: 2rem;
}

.w-12{
  width: 3rem;
}

.w-full{
  width: 100%;
}

.max-w-\[40em\]{
  max-width: 40em;
}

.shrink-0{
  flex-shrink: 0;
}

.grow{
  flex-grow: 1;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.rounded{
  border-radius: 0.25rem;
}

.border{
  border-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-\[\#dbdbdb\]{
  --tw-border-opacity: 1;
  border-color: rgb(219 219 219 / var(--tw-border-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-blue-300{
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity));
}

.bg-blue-800{
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}

.p-4{
  padding: 1rem;
}

.p-3{
  padding: 0.75rem;
}

.p-2{
  padding: 0.5rem;
}

.p-1{
  padding: 0.25rem;
}

.p-0\.5{
  padding: 0.125rem;
}

.p-0{
  padding: 0px;
}

.pt-1{
  padding-top: 0.25rem;
}

.text-center{
  text-align: center;
}

.align-top{
  vertical-align: top;
}

.align-bottom{
  vertical-align: bottom;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.no-underline{
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

body, #app {
  font-family: roboto, sans-serif;
  /* position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  font-feature-settings: "ss04" on;
  -webkit-text-size-adjust: none;
  font-size: 16px;
  line-height: 1.2em;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

.hover\:cursor-pointer:hover{
  cursor: pointer;
}

.hover\:bg-blue-500:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

@media (min-width: 768px){
  .md\:grow{
    flex-grow: 1;
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:gap-5{
    gap: 1.25rem;
  }
}
